body {
  font-family: "Noto Sans Japanese", "Noto Sans JP", sans-serif;
  margin: 0;
  color: #262626;
}

div {
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  background-color: white;
}

h1, h2, h3, p, li {
  font-weight: 100;
  margin: 0;
}

a {
  text-decoration: none;
  color: #a07318;
}

a:hover {
  color: #664d04;
}

hr {
  width: 5%;
  border: none;
  border-bottom: 2px solid white;
  margin: auto;
}

@media only screen and (min-width: 410px) and (min-height: 350px) {
  .giant {
    font-size: 64px;
  }
  .big {
    font-size: 48px;
  }
  .message {
    font-size: 24px;
  }
  .icon {
    height: 64px;
    width: 64px;
  }
}
@media only screen and (max-width: 410px), only screen and (max-height: 350px) {
  .giant {
    font-size: 48px;
  }
  .big {
    font-size: 36px;
  }
  .message {
    font-size: 20px;
  }
  .icon {
    height: 48px;
    width: 48px;
  }
}
.bold-text {
  font-weight: 400;
}

.component {
  width: 95%;
  margin: auto;
}

.box {
  padding: 20px;
}
.box p {
  font-size: 20px;
}

.blackbox {
  background-color: rgba(0, 0, 0, 0.6);
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: 100vw;
  color: white;
  padding: 0 2.5%;
}

.banner {
  height: calc(100vh - 80px);
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 50px;
}
.banner h1 {
  text-transform: uppercase;
}

.last {
  text-align: center;
  background-attachment: fixed;
  height: 400px;
}
.last h1 {
  margin-bottom: 20px;
}

.avatar {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.link-img {
  width: 60px;
  object-fit: cover;
  object-position: center;
  margin: 30px;
}

#header-wrap {
  background-color: white;
  padding-bottom: 20px;
  height: 60px;
}

#header {
  width: 95%;
  border-bottom: 2px solid #262626;
  margin: 0 auto;
  padding-top: 9px;
}
#header a {
  color: inherit;
}
#header #header-name {
  font-weight: 100;
  margin: 0;
  width: 220px;
  text-align: center;
}
@media only screen and (min-width: 650px) {
  #header #header-name {
    display: inline-block;
  }
}
@media only screen and (max-width: 310px) {
  #header #header-name {
    display: inline-block;
  }
  #header .nav {
    display: none;
  }
}

#footer {
  width: 95%;
  margin: 0 2.5%;
  bottom: 0;
}
#footer div {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
}
#footer #name h1 {
  font-weight: 400;
  font-size: 64px;
  text-align: center;
}
#footer #navigator {
  text-align: right;
  position: relative;
}
#footer #navigator .nav {
  font-size: 28px;
  margin: 0;
  padding: 0;
}
#footer #navigator .nav li {
  display: inline-block;
  margin-right: 20px;
}
#footer #navigator p {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

@media only screen and (min-width: 600px) {
  #name {
    width: 300px;
  }
  #navigator {
    width: calc(95vw - 310px);
  }
}
@media only screen and (max-width: 600px) and (min-width: 350px) {
  #name h1 {
    width: 200px;
    font-size: 48px !important;
  }
  #navigator {
    width: calc(95vw - 200px);
  }
}
@media only screen and (max-width: 350px) {
  .before-footer {
    margin-bottom: 250px;
  }
  #footer {
    height: 230px !important;
  }
  #name {
    display: none !important;
  }
  #navigator {
    width: 95vw;
  }
}
@media only screen and (min-height: 350px) {
  #footer {
    height: 350px;
  }
}
@media only screen and (max-height: 350px) {
  #footer {
    height: 100vh;
  }
  #footer #name h1 {
    font-size: 48px !important;
  }
}
#main {
  width: 95%;
  margin: auto;
  padding-bottom: 50px;
}
#main .left p {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 24px;
}
#main .left h1, #main .left p {
  padding-left: 20px;
}
#main .left img {
  margin-left: 20px;
}
#main .left a {
  color: inherit;
}
#main .left a:hover {
  color: #a07318;
}
#main .right {
  background-image: url("img/aiart.png");
  background-position: left top;
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  #main .left, #main .right {
    display: inline-block;
    vertical-align: middle;
  }
  #main .left {
    width: 45%;
    height: calc(100vh - 80px);
  }
  #main .left > div {
    padding-top: 25vh;
  }
  #main .right {
    width: 54%;
    height: calc(100vh - 100px);
  }
}
@media only screen and (max-width: 600px) {
  #main .left {
    height: calc(40vh - 40px);
    width: 100%;
  }
  #main .left > div {
    padding-top: 5vh;
  }
  #main .right {
    height: calc(70vh - 110px);
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 600px) and (max-height: 575px) {
  #main .right {
    visibility: hidden;
  }
}
@media only screen and (max-width: 310px) and (max-height: 710px) {
  #main .right {
    visibility: hidden;
  }
}
@media only screen and (max-height: 600px) {
  #main .left > div {
    padding-top: 5vh;
  }
}

#introduction {
  padding-bottom: 50px;
}
#introduction .box-container {
  display: flex;
  justify-content: center;
}
#introduction h1 {
  text-align: center;
  margin-bottom: 20px;
}
#introduction p {
  margin-bottom: 40px;
  text-indent: 24px;
}
#introduction svg {
  margin-right: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: #666;
}

#see {
  background-color: #555;
  background-position: center;
}

/*# sourceMappingURL=index.css.map */
